html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 body {
  padding-top: 2.5rem;
}
header .nav{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 2.5rem;
  z-index: 1;
  margin: 0;
  padding: 0;
}
ul.nav {

  list-style: none;
  line-height: 2.5rem;
  background: #0d7963; /* you can change the backgorund color here. */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}
ul.nav li {
  border-right: 1px solid #189b80; /* you can change the border color matching to your background color */
  float: left;
}
ul.nav a {
  display: block;
  padding: 0 1.5rem;
  color: #ccece6;
  text-decoration: none;
}
ul.nav a:hover,
ul.nav li.current a {
  background: #086754;
}

.page-container {
  /* make sure to cover the screen */
  position: relative;
  min-height: 100vh;
  /* need a solid bg to hide the footer */
  /* background: white; */
}

main {

  padding-bottom: 2.5rem;
}
footer {
  /* place on the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  background: #252a47;
  display: grid;
  place-items: center;
}
